.main {
    background-color: rgba(255, 255, 255, 0.747);
    padding: 25px;
    height: 30vh;
}

.main-action {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.main-data {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: auto;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 50vh !important;
}

.spacing {
    height: 125px;
}

.event-pending {
    display: flex !important;
    background-color: rgba(190, 124, 77, 0.8) !important;
    border: #ab7045 !important;
}

.event-done {
    display: flex !important;
    background-color: rgba(158, 158, 158, 0.8) !important;
    border: #9E9E9E !important;
}

.event-ongoing {
    display: flex !important;
    background-color: rgb(116, 156, 117, 0.8) !important;
    border: rgb(116, 156, 117) !important;
}

.event-ongoing:hover {
    display: flex !important;
    background-color: rgba(99, 133, 100, 0.8) !important;
    border: rgb(116, 156, 117) !important;
}

.event-pending:hover {
    display: flex !important;
    background-color: rgba(155, 101, 63, 0.8) !important;
    border: rgba(155, 101, 63, 1.0) !important;
}

.event-done:hover {
    display: flex !important;
    background-color: rgba(124, 124, 124, 0.8) !important;
    border: rgba(124, 124, 124, 1.0) !important;
}

.event-pending:focus, .event-done:focus, .event-ongoing:focus, .new-button:focus, .form-select:focus, .form-select:hover, .form-control:hover {
    border-color: #ab7045 !important;
    box-shadow: 0 0 0 0.25rem #ab7045 !important;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.new-button {
    background-color: #749c75 !important;
    border: #749c75 !important;
    padding: 14px 50px !important;
    font-size: 20px !important;
}

.new-button:hover {
    background-color: #5d7e5e !important
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece  {
    background-color: transparent !important;
}