* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.main-container {
  background-image: url(../public/bg3.png);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
  height: auto;
  max-width: 100%;
  min-height: 100vh;
}

